---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cert-manager-secret
  namespace: cert-manager
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-login
  target:
    name: cert-manager-secret
    creationPolicy: Owner
  data:
    - secretKey: api-token
      remoteRef:
        key: baeb53ec-87d2-4ba3-b3e6-75be53a9bf0f
        property: password
